<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.binder">

    <application>
        <activity android:name=".client.ClientSampleActivity">
        </activity>

        <service
                android:name=".remote.RemoteLibraryService"
                android:process=":remote"/>
    </application>

</manifest>